<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User Profile</title>
    <link rel="stylesheet" href="/static/acc.css">
</head>
<body>
<a href="/">
    <button type="submit">Logout</button>
</a>
<a href="/admin/allusers">
    <button type="submit">All users</button>
</a>

<h1>User Profile</h1>
<p>Username: <span th:text="${user.username}"></span></p>
<p>Email: <span th:text="${user.email}"></span></p>
<p>Role: <span th:text="${user.role}"></span></p>
<p>First name: <span th:text="${user.firstname}"></span></p>
<p>Last name: <span th:text="${user.lastname}"></span></p>
</body>
</html>